<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body class="bg-gray-100">
    <!-- Header -->
    <div class="header bg-white shadow-md relative z-10">
        <div class="header__top h-20 flex items-center justify-between px-4 md:px-0">
            <div class="header__column header__column--left flex-grow flex justify-start items-center">
                <a href="#" class="header__item__link text-lg font-semibold text-gray-800">Books</a>
            </div>

            <div class="header__column header__column--center absolute left-1/2 transform -translate-x-1/2">
                <a href="/" class="header__item__logo"><img
                        src="https://dg0lpj0xiisq5.cloudfront.net/assets/v1/logo-d66e885305c022c01bba1b4a297d3a4b3a21cf598cf326b7afd5df72c42626a4.png"
                        alt="Logo" class="h-20"></a>
            </div>

            <div class="header__column header__column--right flex justify-end items-center">
                <div class="header__item header__item--hamburger header__item--show-mobile">
                    <!-- Your hamburger menu icon -->
                </div>
                <div class="header__item header__item--sign-in header__item--hide-mobile">
                    <a href="/templates/user/signin.html#" class="header__item__sign-in-button text-gray-700 hover:text-gray-900">Sign
                        In</a>
                </div>
                <div class="header__item header__item--sign-up header__item--hide-mobile">
                    <a href="/users/sign_in"
                        class="header__item__sign-up-button bg-yellow-500 text-white hover:bg-yellow-600 py-2 px-6 rounded-md shadow-md">Sign
                        Up</a>
                </div>
            </div>
        </div>
    </div>

    
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
</body>

</html>
